## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [44]:
a=10
print(a)

10

2) Imprimir el tipo de dato de la variable 8.5

In [ ]:
b=8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [45]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre="Marcela"

5) Crear una constante que contenga el número Pi

In [ ]:
PI=3.14169

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [ ]:
PI=3.14169
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [ ]:
euler = 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [3]:
variable1 = "´True´"
variable2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [4]:
variable1 = "´True´"
variable2 = True
print(type(variable1))
print(type(variable2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [5]:
suma = 10 + 2.8

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
numerostring ="10"
numeroentero = 5
suma= int(numerostring)  + numeroentero
print("La Suma es: ",suma)

La Suma es:  15

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [21]:
potencia = suma ** 3
print (potencia)

3375

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [33]:
numero=input ("Ingrese un Numero")
producto = numero* 2
print ("El Doble del numero ingresado es: ",producto)

El Doble del numero ingresado es:

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [24]:
cociente = 27 / 4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [25]:
cociente =27 // 4
print (cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
print ("El resto de la division es: ", 27 % 4)

El resto de la division es:  3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [28]:
cociente =27 // 4
cociente2= 27 % 4
resultado = cociente*4 + cociente2
print (resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [29]:
if (2=="2"):
    print ("son iguales")

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [6]:
if (2==int("2")):
    print ("son iguales")

son iguales

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [15]:
a=float("3.8")
#no da error

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [16]:
x=10+"10"
print (x)
#TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [9]:
menu= """"
Menu: 1-Pizza                   2)Empanadas
3-Milanesas                     4) Salir
"""
print(menu)

"
Menu: 1-Pizza                   2)Empanadas
3-Milanesas                     4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [11]:
lista= [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [12]:
print(lista[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [17]:
lista[2]="Marcela"
print(lista)

[1, 2, 'Marcela', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [24]:
matriz = [ ["A","B","C"], ["D","E","F"], ["G","H","I"]]

27) Imprimir la matriz creada en el punto 26

In [25]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [26]:
matriz [1][1]="z"
print (matriz)

[['A', 'B', 'C'], ['D', 'z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [27]:
matriz [0][0]=1
matriz [0][1]=2
matriz [0][2]=3
print (matriz)

[[1, 2, 3], ['D', 'z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [28]:
mi_tupla =("Zara","Sybilla","Adidas", "Puma","Reebok")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [32]:
print(mi_tupla[0])

Zara

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [33]:
mi_tupla[1]="no se puede"
print (mi_tupla[1])

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [39]:
hobbies={"Nombre":"Marcela","Apellido":"Aguero","Edad":23,"Hobbies":["Programar","Leer","Jugar"]}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [40]:
print (hobbies["Hobbies"])

['Programar', 'Leer', 'Jugar']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [43]:
hobbies["Edad"]=60
print (hobbies)

{'Nombre': 'Marcela', 'Apellido': 'Aguero', 'Edad': 60, 'Hobbies': ['Programar', 'Leer', 'Jugar']}